@font-face {
  font-family: MyriadPro-Bold;
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.wof2") format("wof2"); }

@font-face {
  font-family: MyriadPro-Regular;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.wof2") format("wof2"); }

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: #000; }

.header-logo__img {
  height: 30px; }

.stat-info__header {
  padding: 30px 40px;
  background-color: #fff; }

.stat-info__header__title {
  font-family: MyriadPro-Regular;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

.stat-info__header__text {
  font-family: MyriadPro-Regular;
  font-size: 20px;
  line-height: 27px; }

.stat-info__list {
  width: 100%;
  color: #fff;
  border-collapse: collapse; }
  .stat-info__list tr:nth-child(2n-1) {
    background-color: #404040; }
  .stat-info__list tr:nth-child(2n) {
    background-color: #242424; }

.stat-info__item {
  padding: 0; }

.stat-info__stst {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  width: 50%; }

.stat-info__description {
  padding-right: 20px;
  font-size: 18px;
  text-align: right; }

.legeng {
  padding-left: 20px;
  font-size: 20px;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.3); }

.advantages {
  background-color: #242424;
  color: #fff; }

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.advantages__item {
  padding: 170px 20px 0 20px;
  background-repeat: no-repeat;
  background-position: center 30px; }

.advantages__title {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center; }

.advantages__phrase {
  font-size: 20px;
  text-align: center; }

.advantages__item--fast {
  background-image: url("../images/advantage-1-illustration.svg.png"); }

.advantages__item--cool {
  background-image: url("../images/advantage-2-illustration.svg.png"); }

.advantages__item--rich {
  background-image: url("../images/advantage-3-illustration.svg.png"); }

.main-nav {
  position: relative; }

.main-nav__wraper {
  display: flex;
  justify-content: space-between; }

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style: none; }

.main-nav__button {
  display: none;
  padding: 0;
  width: 70px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translatex(-100%);
  cursor: pointer;
  border: none;
  background-color: #6a4d38; }
  .main-nav__button:hover {
    background-color: #755a46; }
  .main-nav__button:active {
    background-color: #6a4d38; }
  .main-nav__button span {
    width: 40px;
    height: 4px;
    margin: 6px auto;
    display: block;
    border-radius: 2px;
    background-color: #fff; }

.main-nav--opened .main-nav__wraper {
  margin-left: 70px; }

.main-nav--opened .main-nav__button {
  left: 0;
  transform: translate(0); }
  .main-nav--opened .main-nav__button .main-nav__button_line1 {
    transform: rotate(45deg); }
  .main-nav--opened .main-nav__button .main-nav__button_line2 {
    display: none; }
  .main-nav--opened .main-nav__button .main-nav__button_line3 {
    transform: rotate(-45deg);
    margin-top: -9px; }

.main-nav--closed .main-nav__item {
  display: none; }

.main-nav--closed .main-nav__item--active {
  display: block; }
  .main-nav--closed .main-nav__item--active a {
    padding-left: 0;
    text-align: center; }

.main-nav--closed .main-nav__user {
  display: none; }

@media (max-width: 767px) {
  .main-nav__wraper, .main-nav__list {
    display: block; }
  .main-nav__button {
    display: block; }
  .main-nav__list, .main-nav__user {
    padding: 0; }
    .main-nav__list a, .main-nav__user a {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 12px 0 12px 20px;
      background-color: #826550;
      border-bottom: 1px solid #71543f;
      border-top: 1px solid #886e5b;
      color: #fff;
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      text-transform: uppercase; }
      .main-nav__list a:hover, .main-nav__user a:hover {
        background-color: #755a46; }
      .main-nav__list a:active, .main-nav__user a:active {
        background-color: #6a4d38;
        color: rgba(255, 255, 255, 0.3); }
  .main-nav__user a {
    padding-left: 48px;
    text-transform: none; } }

body {
  margin: 0;
  padding: 0;
  background-color: #282828;
  font-family: MyriadPro-Regular; }

.content-wraper {
  box-sizing: border-box;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto; }
