.main-nav {
	position: relative;
}
.main-nav__wraper {
	display: flex;
	justify-content: space-between;
}
.main-nav__list {
	display: flex;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	list-style: none;
}
.main-nav__button {
		display: none;
		padding: 0;
		width: 70px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 100%;
		transform: translatex(-100%);
		cursor: pointer;
		border: none;
		background-color: #6a4d38;
		&:hover {
				background-color: #755a46;
			}
		&:active {
			background-color: #6a4d38;
				}
		span {
			width: 40px;
			height: 4px;
			margin: 6px auto;
			display: block;
			border-radius: 2px;
			background-color: #fff;
		}
	}
.main-nav__button--close {
	left: 0;
	transform: translate(0);
	.main-nav__button_line1 {
		transform: rotate(45deg);
	}
	.main-nav__button_line2 {
		display: none;
	}
	.main-nav__button_line3 {
		transform: rotate(-45deg);
		margin-top: -9px;
	}
}	
@media (max-width: 767px){
	.main-nav__wraper, .main-nav__list {
		display: block;
	}
	.main-nav__wraper {
		margin-left: 70px;
	}
	.main-nav__list, .main-nav__user {
		padding: 0;
		a {
			display: block;
			box-sizing: border-box;
			width: 100%;
			padding: 12px 0 12px 20px;
			background-color: #826550;
			border-bottom: 1px solid #71543f;
			border-top: 1px solid #886e5b;
			color: #fff;
			font-size: 18px;
			line-height: 24px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				background-color: #755a46;
			}
			&:active {
				background-color: #6a4d38;
				color: rgba(255, 255, 255, 0.3);
			}
		}
	}
	.main-nav__user a {
		padding-left: 48px;
		text-transform: none;
	}
}