.main-nav {
	position: relative;
}
.main-nav__wraper {
	display: flex;
	justify-content: space-between;
}
.main-nav__list {
	display: flex;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	list-style: none;
}
.main-nav__item a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.main-nav__button {
		display: none;
		padding: 0;
		width: 70px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 100%;
		transform: translatex(-100%);
		cursor: pointer;
		border: none;
		background-color: #6a4d38;
		outline: none;
		&:hover {
				background-color: #755a46;
			}
		&:active {
			background-color: #6a4d38;
				}
		span {
			width: 40px;
			height: 4px;
			margin: 6px auto;
			display: block;
			border-radius: 2px;
			background-color: #fff;
		}
	}
.main-nav--opened .main-nav__button {
	left: 0;
	transform: translate(0);
	.main-nav__button_line1 {
		transform: rotate(45deg);
	}
	.main-nav__button_line2 {
		display: none;
	}
	.main-nav__button_line3 {
		transform: rotate(-45deg);
		margin-top: -9px;
	}
}
.main-nav__img {
		margin-top: 3px;
		opacity: 0.3;
	}	
@media (max-width: 767px){
	.main-nav {
		min-height: 50px;
	}
	.main-nav__wraper, .main-nav__list {
		display: block;
	}
	.main-nav--closed {
		.main-nav__item {
			display: none;
		}
		.main-nav__user {
			display: none;
		}
		.main-nav__item--active {
			display: block;
			a {
				padding-left: 0;
				text-align: center;
			}
		}
	}
	.main-nav--opened {
		.main-nav__user a{
			padding-bottom: 50px;
		}
		.main-nav__wraper {
			position: absolute;
			left: 70px;
			right: 0;
			top: 0;
		}
	}
	.main-nav__list, .main-nav__user {
		padding: 0;
		a {
			display: block;
			box-sizing: border-box;
			width: 100%;
			padding: 12px 0 12px 20px;
			background-color: #826550;
			border-bottom: 1px solid #71543f;
			border-top: 1px solid #886e5b;
			color: #fff;
			font-size: 18px;
			line-height: 24px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				background-color: #755a46;
			}
			&:active {
				background-color: #6a4d38;
				color: rgba(255, 255, 255, 0.3);
			}
		}
	}
	.main-nav__user a {
		padding-left: 48px;
		text-transform: none;
	}
	.main-nav__button {
		display: block;
	}
}
@media (min-width:768px) and (max-width:1200px) {
	.main-nav {
		padding: 0 60px;
		background-color: #000;
	}
	.main-nav__list {
		padding: 0;
		margin: 0;
	}
	.main-nav__item a {
		display: block;
		font-size: 18px;
		margin-right: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.main-nav__user a{
		display: block;
		padding-top: 30px;
		padding-bottom: 30px;
		font-size: 18px;
		color: #fff;
		span {
			display: none;
		}
	}
}