.stat-info__header {
	padding: 30px 40px;
	background-color: #fff;
}
.stat-info__header__title {
	font-family: MyriadPro-Regular;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}
.stat-info__header__text {
	font-family: MyriadPro-Regular;
	font-size: 20px;
	line-height: 27px;
}

.stat-info__list {
	width: 100%;
	color: #fff;
	border-collapse: collapse;
	tr:nth-child(2n-1){
		background-color: #404040;
	}
	tr:nth-child(2n){
		background-color: #242424;
	}
}
.stat-info__item {
	padding: 0;
}
.stat-info__stst {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 40px;
	line-height: 40px;
	width: 50%;
}
.stat-info__description {
	padding-right: 20px;
	font-size: 18px;
	text-align: right;
}
.legend {
	padding-left: 20px;
	font-size: 20px;
	background-color: #242424;
	color: rgba(255, 255, 255, 0.3);
}

.advantages {
	background-color: #242424;
	color: #fff;
}
.advantages__list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.advantages__item{
	padding: 170px 20px 0 20px;
	background-repeat: no-repeat;
	background-position: center 30px;
}
.advantages__title {
	display: block;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
.advantages__phrase {
	font-size: 20px;
	text-align: center;
}
.advantages__item--fast {
	background-image: url("../images/advantage-1-illustration.svg.png");
}
.advantages__item--cool {
	background-image: url("../images/advantage-2-illustration.svg.png");
}
.advantages__item--rich {
	background-image: url("../images/advantage-3-illustration.svg.png");
}

@media (max-width: 767px){
	.legend--tablet {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1999px){
	.content-wraper {
		padding: 0 65px;
	}
	.legend {
		display: none;
	}
	.legend--tablet {
		display: block;
		background-color: #fff;
		color: rgba(0, 0, 0, 0.3);
	}
	.stat-info {
		margin-top: -185px;
	}
	.stat-info__header {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		min-height: 185px;
		padding-top: 35px 40px 30px;
		.stat-info__header__title, .stat-info__header__text {
			width: 50%;
			box-sizing: border-box;
		}
		.stat-info__header__title {
			text-align: left;
		}
		.stat-info__header__text {
			padding-left: 30px;
		}
		&::before {
			content: " ";
			width: 16px;
			height: 16px;
			position: absolute;
			left: -16px;
			top: 42px;
			background-image: url("../images/stat-info-triangle.png");
		}
	}
}	